[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
escrow_logic = "3qxEyNRMxg4JNRhu8o8DymaBeHJf2QvQgiE52tLnJs4u"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run regenerate-client; npx tsx tests/escrow_logic.test.ts"
